## Visual Studio / VS Code
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.userprefs

## Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## .NET
project.lock.json
project.fragment.lock.json
artifacts/
*.nuget.props
*.nuget.targets

## Rider
.idea/

## OS
.DS_Store
Thumbs.db

## User-specific files
*.rsuser
*.sln.docstates

## NuGet
*.nupkg
**/packages/*
!**/packages/build/

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## Publish
publish/
